<div class="container my-5">
    <input class="pe-5 pt-3 form-control" type="text" [(ngModel)]="searchTerm" placeholder="search" style="width: 300px;height:40px;font-size: 20px;" >
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" *ngFor="let med of health| search:searchTerm| paginate: { 
            itemsPerPage: 4,
            currentPage: p,
            totalItems:totitems
         };let ind=index">
            <div class="card text-dark h-100">
                <a class="btn " (click)="onImg(ind,med)">
                    <img src={{med.image}} class="card-img-top d-block mx-auto" width="40px" height="150px" alt="...">
                </a>
                <div class="card-body">
                    <p class="card-title fw-bold">{{med.name}}</p>
                    <p class="card-text">MRP:{{med.price}}</p>
                    
                    <button class="btn btn-sm btn-success float-end" (click)="onCart(med)">add to cart</button>
                   
                </div>
            </div>
        </div>
    </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
