<div class="container">
    <div class="row my-5 row-cols-lg-5">
        <div class="col mt-2">
            <div class="card pt-2 h-100 border-0">
                <a type="button" (click)="onRegular()" class="card-img-top text-center "><img src="assets/regular.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">regular medicines</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card pt-2 h-100 border-0">
                <a type="button" (click)="onAyur()"class="card-img-top text-center "><img src="assets/ayurveda.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">ayurvedic</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card pt-2 h-100 border-0">
                <a type="button" (click)="onHemeo()" class="card-img-top text-center "><img src="assets/homeo.jpg" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">homeopathy</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card pt-2 h-100 border-0">
                <a type="button" (click)="onVitamins()" class="card-img-top text-center "><img src="assets/vitamins.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">Vitamins & supplements</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card pt-2 h-100 border-0">
                <a type="button" (click)="onNutrition()" class="card-img-top text-center "><img src="assets/nutrition.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">Nutrition & Food</h5>
                </div>
            </div>
        </div>
       
    </div>

</div>
