<div class="container">
    <div class="row my-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card rounded ">
                <div class="card-body">
                  <h2 class="card-title mb-4 text-center ">Login</h2>
                  <form>
                    <div class="mb-3">
                      <label for="mail" class="form-label"><span class="teal">*</span>Email</label>
                      <input type="email" class="form-control" id="mail" placeholder="enter email address" required> 
                    </div>
                    <div class="mb-3">
                      <label for="pass" class="form-label"><span class="teal">*</span>Password</label>
                      <input type="password" class="form-control" id="pass" placeholder="enter password" required>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn ">Login</button>
                    </div>
                    <div class="mt-2 text-center">
                        <a href="">Forgot password?</a>
                    </div>

                  </form>
                </div>

                <div class="card-footer text-center pt-3">
                    <div class="d-flex justify-content-evenly">
                        <p class="">Don't have an account?</p>
                        <a href="/signup" ><i class="far fa-hand-point-right"></i> Create a new acccount</a>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
