.bin{
    color: #0c6772;
    background-color: #ffb8a7;
    border: #ffb8a7;
    padding: 2px 8px;
    border-radius: 6px;
}
.bin:hover{
    box-shadow: 0px 3px 3px #0c6772;
}
.head{
    background-color: #ffb8a7;
    border: #ffb8a7;
}
.orderb{
    display: block;
    margin: auto;
    color: #0c6772;
    background-color: #ffb8a7;
    border: #ffb8a7;
}
.orderb:hover{
    box-shadow: 0px 5px 5px #0c6772;
}