<div class="container">
    <div class="row my-5 row-cols-lg-5">
       
        <div class="col mt-2">
            <div class="card pt-2 h-100 border-0">
                <a type="button" (click)="onRegular()"class="card-img-top text-center "><img src="assets/Devices.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">regular</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 pt-2  border-0">
                <a type="button" (click)="onBaby()" class="card-img-top text-center "><img src="assets/baby.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">Baby&mom care</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 pt-2 border-0">
                <a type="button" (click)="onCosmetics()" class="card-img-top text-center "><img src="assets/cosmetics.png" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">cosmetics</h5>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 pt-2  border-0">
                <a type="button" (click)="onCovid()" class="card-img-top text-center "><img src="assets/homeo.jpg" alt="medicines data" width=100px></a>
                <div class="card-body">
                    <h5 class="text-center fs-6">covid</h5>
                </div>
            </div>
        </div>
        
        
       
    </div>

</div>

